<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link href="<%= url("/styles.css") %>" rel="stylesheet" type="text/css" />
    <title>Chitter</title>
</head>

<body class="container">
    <h1>Chitter Chatter 💬</h1>
    <section>
        <h3>Your top matches for '<%= @keyword %>'</h3>
    </section>
    <section>
        <ul>
            <% if @filtered_peeps.empty? %>
                <p> No matches found. Try another keyword.<p>
            <%else%>
                <% @filtered_peeps.map do |peep| %>
                    <li class="peep" id="peep-<%= peep.id %>">
                        <div class="col">
                            <p><%= peep.message %><p>
                            <span><%= peep.time %><span>
                        </div>
                    </li>
                <% end %>
            <% end %>
        </ul>
    </section>
    <section>
        <form action='/' class="form">
            <input type="submit" value="Go Back" />
        </form>
    </section>
</body>
</html>