<style>
    .boxed {
        border: 3px solid blue ;
    }

    .red {
        color:red
    }

    .white {
        color:white
    }
    .blue {
        color:blue
    }
    .grayblue {
        color:#15202B
    }
    .gray {
        color:#8899A6
    }

    body {background-color: #15202B;}
</style>


<h1 class="blue"> <del class="red"> Twitter </del> &nbsp; Chitter </h1>
<p class="gray"> Last Refreshed: <%= @time.hour %>:<%= @time.min %>, Day <%= @time.day %> of <%= @time.strftime("%B") %> </p>



<!-- New Tweet -->
<form action="/add-chirp" method="post" id="message">
    <!-- Buttons and labels -->
    <textarea name="content" rows="4" cols="60" maxlength="280" form="message" placeholder="No one is born hating another person because of the color of his skin or his background or his religion..."></textarea>
    <!-- Spacer -->
    <div>
      &nbsp;
    </div>
    <input type="text" size=60 name="author" placeholder="@BarackObama">

    <!-- Spacer -->
    <div>
      &nbsp;
    </div>
    <!-- Submit -->
    <div>
      <input type="submit" value="Send Chirp" style="padding: 9px 11px; font-size:18px">
    </div>
</form>

<!-- Chirp Display -->

<% @chirps.reverse.each do |chirp| %>
    <div class="boxed white">
        <!-- Chirp -->
        <h3>
                &nbsp;&nbsp;&nbsp;<%= chirp.content %>
            </form>
        </h3>

        <!-- Author and Date -->
        <p class=gray> &nbsp;
            <b><%= chirp.author%></b>
            at 
            <i><%= chirp.date%></i> 
        </p>
    </div>
    &nbsp;
<% end %>