<link rel="stylesheet" type="text/css" href="/style.css"/>
<body>
  <h1> Peeps: </h1>
    <form action="/peep" class="side">
      <button type="submit" value="New Peep"> New Peep </button>
    </form>
    <form action="/filter" class="side">
      <button type="submit" value="Filter"> Filter </button>
    </form>
    <% if @peeps.empty? %>
      <h4> No peeps </h4>
    <% else %>
      <div class="allcontent">
        <% @peeps.reverse.each do |peep|%>
        <li class="peep" id="peep-<%= peep.id %>">
          <div class="white-background">
            <p><%= peep.message%></p>
          </div>

            <form action="/<%= peep.id %>/comments/new" method="get">
              <button type="submit" value="Comment" class="comment"><img src="/comment.png"/></button>
            </form>

            <form action="/<%= peep.id %>" method="post">
              <input type='hidden' name='_method' value='DELETE'/>
              <button type="submit" value="Delete" class="delete"><img src="/delete.png"/></button>
            </form>

            <form action="/<%= peep.id %>/edit" method="get">
              <button type="submit" value="Edit" class="edit"><img src="/edit.png"/></button>
            </form>

            <p class="date"><%= peep.date%></p>

            <ul class="comments">
              <% peep.comments.each do |comment| %>
                <li class="single"><p><%= comment['text'] %></p></li>
              <% end %>
            </ul>
          <br>
        </li>

        <% end %>
      </div>
    <% end %>
</body>
