<form action="/peeps">
  <input type="text" name="search">
  <input type="submit" value="search">
</form>
<h3>Send a Peep:</h3>
<form action="/peeps" method="POST">
  <textarea name="message" rows="6" cols="50"></textarea><br>
  <input type="submit" value="Send">
</form>

<% @peeps.each do |peep| %>
  <div class="peep">
    <p class="message-header">By: <a href="/users/<%= peep.user.id %>"><%= peep.user.username %></a> at <%= peep.created_at.strftime("%k:%M, %d/%m") %>
    <p class="message-body"><%= peep.message %></p>
    <% if peep.user.id == session[:user_id] %>
      <form class="delete-peep" action="/peeps/<%= peep.id %>/delete" method="POST">
        <input type="submit" value="delete">
      </form>
    
    <% end %>
  </div>
<% end %>
