Your search for <%= $keyword %> returned <%= @search.length %> results.
<% unless @search.empty? %>
<% @search.each { |peep| %>
<li>
  User: <%= peep.username %>
  Message: <%= peep.message %>
  Posted on: <%= peep.datetime %>
</li>
<% } %>
<% end %>
