<style>
  body {
    text-align: center;
  }
</style>

<div id="body">
  <div id="heading">
    <h1 style="font-family: helvetica">CHITTER</h1>
  </div>
  <div id="search heading">
    <div id="search feedback">
      <% if @search.length == 1 %>
      <h3 style="font-family: helvetica">Your search for <%= @keyword %> returned 1 result.</h3>
      <% else %>
      <h3 style="font-family: helvetica">Your search for <%= @keyword %> returned <%= @search.length %> results.</h3>
      <% end %>
    </div>
    <div id="new search">
      <h3 style="font-family: helvetica">Search again?</h3>
        <form action='/peeps/search' method='post'>
          <input type='text' placeholder='Search by keyword' name='search_keyword'>
          <input type='submit' value='Search'>
        </form>
    </div>
    <div id="home button">
      <form action ='/peeps'>
        <input type='submit' value='Home'>
      </form>
    </div>
  </div>

  <div id="search results">
    <% @search.each do |peep| %>
        <h4 style="font-family: helvetica">
          <ul>
            User: <%= peep.username %> <br>
            Message: <%= peep.message %> <br>
            Posted on: <%= peep.datetime %>
          </ul>
        </h4>
    <% end %>
  </div>
</div>
